
body {
  background-color: rgb(64, 64, 125);
}

h1 {
  font-family: 'Comfortaa', sans-serif;
  font-style: bold;
  font-size: 45px;
  text-align: center;
  color: rgba(218, 241, 247, 0.936);
}

#game div {
  border: 3px solid rgba(218, 241, 247, 0.718);
  width: 170px;
  height: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 45px;
  margin-right: 45px;
  display: inline-block;
  align-items: center;
  border-radius: 10%;
}

p {
  font-family: 'Comfortaa', sans-serif;
  font-size: 20px;
  text-align: center;
  font-style: italic;
  color: rgba(218, 241, 247, 0.936);
}